@import url("../styles/icons.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* stop user selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-color: #212121;
  color: white;

  height: 100vdh;
  width: 100wdh;

  position: relative;
}

/* navigation bar  */
nav {
  height: 10dvh;
  /* border: 2px solid; */

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  /* position: relative; */

  max-width: 400px;

  margin: 0 auto;
}

.reset {
  font-weight: bolder;
  position: absolute;
  right: 25px;

  cursor: pointer;
}

.setting {
  font-weight: bolder;
  position: absolute;
  left: 25px;

  cursor: pointer;
  color: rgb(135, 59, 197);
}

/* player stat container  */
.p-stat-container {
  /* border: 2px solid; */
  height: 15dvh;
  display: flex;
  justify-content: space-around;
  gap: 4rem;

  padding: 10px 30px;
  margin: 0 auto;

  max-width: 400px;
}

.p-o-stat,
.p-x-stat {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

/* game board  */
.game-board {
  /* border: 2px solid rgb(255, 156, 255); */
  height: 65dvh;
  width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
}

.row1 {
  /* border: 2px solid orange; */
  display: flex;
}
.row2 {
  /* border: 2px solid rgb(0, 255, 183); */
  display: flex;
}
.row3 {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.286);
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 400;

  cursor: pointer;
  /* background-color: rgb(1, 18, 4); */
  transition: background-color 300ms;
}

.box:hover {
  background-color: rgba(110, 95, 66, 0.525) !important;
}

/* whose turn  */
.whose-turn {
  height: 10dvh;
  /* border: solid; */

  bottom: 0;

  display: flex;
  justify-content: center;

  position: relative;
}

.whose-turn p {
  position: absolute;
  bottom: 40px;
}

/* =====SETTING BOX MODEL========================== */
.model-box-container {
  position: absolute;
  color: white;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;

  backdrop-filter: blur(5px);
}

.model-box {
  border: 2px solid;
  width: 200px;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github {
  font-size: 40px;
  color: rgb(183, 0, 255);
}

.version {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: 100; */
  color: rgba(255, 255, 255, 0.636);
}

.model-box > button {
  width: 90%;
  margin-top: 10px;
  background-color: #212121;
  outline: none;
  border: 2px rgb(124, 17, 157) solid;
  padding: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
